@import "tailwindcss";

@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans.ttf");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-primary: #2563EB;           /* Strong Blue */
  --color-primary-hover: #1D4ED8;     /* Deeper Blue */
  --color-accent: #FBBF24;            /* Warm Gold */
  --color-background: #F9FAFB;        /* Subtle White Smoke */
  --color-surface: #FFFFFF;           /* Neutral White */
  --color-border: #E5E7EB;            /* Clean Divider */
  --color-base: #111827;         /* Midnight Slate */
  --color-muted: #6B7280;        /* Professional Gray */
}


body {
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "NunitoSans", sans-serif;
  color: var(--color-base);
  line-height: 1.6;
}